@model FIT5032_TB_xray_report_system_v2.Models.Report

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Report</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.report_content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.report_content)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.report_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
