
@{
    ViewBag.Title = "LoginFail";
}

<h2>Your login attempt failed.</h2>
<div>You will be redirected to the Login screen...</div>

<script>
    setTimeout(function () {
        window.location.href = '/User/Login';
    }, 3000);  // 3000 milliseconds (3 seconds)
</script>
