
@{
    ViewBag.Title = "LoginFail";
}

<h2>Login Fail</h2>
<div>You will be redirected to the Login screen...</div>

<script>
    setTimeout(function () {
        window.location.href = '/User/Login';
    }, 5000);  // 5000 milliseconds (5 seconds)
</script>
