
@{
    ViewBag.Title = "LoginSuccess";
}

<h2>You have logged out successfully.</h2>
<div>You will be redirected to the Home screen...</div>

<script>
    setTimeout(function () {
        window.location.href = '/Home/Index';  // Replace '/Home/Index' with the desired URL
    }, 3000);  // 3000 milliseconds (3 seconds)
</script>