@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        <strong>Created by:</strong>Tsz Chung Wong<a href="mailto:twon0024@student.monash.edu">twon0024@student.monash.edu</a><br />
        <strong>Monash ID:</strong> 31270093
    </address>
</main>