@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Oz Pty Ltd</h1>
        <p class="lead">At Oz Pty Ltd, we design and develop web applications for customers and research on different technologies to meet the customers' requirements</p>
        @*<p><a href="https://asp.net" class="btn btn-primary btn-md">Learn more &raquo;</a></p>*@
        <br />
        @*<img src="~/Content/Images/steak-and-chips.jpg" alt="Image of thing used to demonstrate responsive image design." class="image-responsive" />*@
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="customer">
            <h2 id="customer">Our Customer</h2>
            <p>
                Your customer is a Medical Imaging Services company (HQ in Melbourne) with around 50 staff and 4000 users.
            </p>
        </section>
    </div>
</main>